<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/stylesheet/img/logo.png">
    <title>Blogsfeed</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/navfoot.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <script type="text/javascript" src="/script/script.js"></script>
  </head>
  <body class="bg web-font">
    <div>
      <nav class="navbar navbar-expand-lg navbar-primary fixed-top transparent-nav">
        <a class="navbar-brand nav-logo-box logo-font" href="/blogs"><img class="nav-logo" src="/stylesheet/img/logo.png">&nbsp;blogsfeed</a>
        <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarMenu">
          <i class="fa fa-navicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav nav-font ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogs">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/allblogs">ALL BLOGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/signin">ADMIN LOGIN</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>