<% include ./partials/header %>
<div class="space intro-landing">
    <div class="intro-box">
    	<h3 class="putcenter">ABOUT</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-white">
        <div class="container col-lg-6 col-md-6 col-sm-12">
	        <img class="about-page imagefull" src="/stylesheet/img/blog.jpg">
	    </div>
        <div class="container col-lg-6 col-md-6 col-sm-12">
          <p class="about-page fontsize">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row padding-gap">
        <div class="container col-lg-12 col-md-12 col-sm-12">
	        <h4 class="putcenter">Team</h4>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
            <div class="member" id="prash">
	            <div class="member-detail putcenter">Prashant Sharma<br>
                Frontend Developer
	            </div>
	        </div>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
            <div class="member" id="manu">
	            <div class="member-detail putcenter">Mayank Manu<br>
	            The Backend Developer
	            </div>
	        </div>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
	        <div class="member" id="beejawat">
	            <div class="member-detail putcenter">Nitish Beejawat<br>
	            The Analyser
	            </div>
	        </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>