<% include ./partials/header %>
<div class="sign-bg">
  <div class="sign-window signin-window">
    <h2>Admin Login</h2>
    <form action='/blogs/new'>
      <p>Email</p>
      <input type="text" id="username" name="" placeholder="Enter Email ID">
      <p>Password</p>
      <input type="password" id="password" name="" placeholder="Enter Password">
      <input type="button" name="" value="Sign In" onclick="authentication()">
    </form>
  </div>
</div>